/* 
    Put your style/CSS customizations here.
    It's loaded after all the other CSS files, so any CSS rules here
    will override rules in other files.
 */

/* The following example turns the background to yellow if you uncomment it. */

body {
  /* background-color: #f1c40f; */
}

.y {
  text-align: center;
}

.z {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 100px;
  height: 50px;
  transition: all .25s;
}

.z:hover {
  border-radius: 50px;
  box-shadow: inset 0 0 0 5px #ccc;
  background: #eee;
}